In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read in csv file that contains info about colleges
college_file = "Resources/College.csv"
college_data_df = pd.read_csv(college_file)
college_data_df.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [3]:
# Rename college name and grad rate columns in college dataframe
college_data_df = college_data_df.rename(columns={"Unnamed: 0":"college_name", "Grad.Rate":"grad_rate"})
college_data_df

,college_name,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,grad_rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Albertson College,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Albertus Magnus College,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Albion College,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Albright College,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Alderson-Broaddus College,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52
10,Alfred University,Yes,1732,1425,472,37,75,1830,110,16548,5406,500,600,82,88,11.3,31,10932,73
11,Allegheny College,Yes,2652,1900,484,44,77,1707,44,17080,4440,400,600,73,91,9.9,41,11711,76
12,Allentown Coll. of St. Francis de Sales,Yes,1179,780,290,38,64,1130,638,9690,4785,600,1000,60,84,13.3,21,7940,74
13,Alma College,Yes,1267,1080,385,44,73,1306,28,12572,4552,400,400,79,87,15.3,32,9305,68
14,Alverno College,Yes,494,313,157,23,46,1317,1235,8352,3640,650,2449,36,69,11.1,26,8127,55
15,American International College,Yes,1420,1093,220,9,22,1018,287,8700,4780,450,1400,78,84,14.7,19,7355,69
16,Amherst College,Yes,4302,992,418,83,96,1593,5,19760,5300,660,1598,93,98,8.4,63,21424,100
17,Anderson University,Yes,1216,908,423,19,40,1819,281,10100,3520,550,1100,48,61,12.1,14,7994,59
18,Andrews University,Yes,1130,704,322,14,23,1586,326,9996,3090,900,1320,62,66,11.5,18,10908,46
19,Angelo State University,No,3540,2001,1016,24,54,4190,1512,5130,3592,500,2000,60,62,23.1,5,4010,34
20,Antioch University,Yes,713,661,252,25,44,712,23,15476,3336,400,1100,69,82,11.3,35,42926,48
21,Appalachian State University,No,7313,4664,1910,20,63,9940,1035,6806,2540,96,2000,83,96,18.3,14,5854,70
22,Aquinas College,Yes,619,516,219,20,51,1251,767,11208,4124,350,1615,55,65,12.7,25,6584,65
23,Arizona State University Main campus,No,12809,10308,3761,24,49,22593,7585,7434,4850,700,2100,88,93,18.9,5,4602,48
24,Arkansas College (Lyon College),Yes,708,334,166,46,74,530,182,8644,3922,500,800,79,88,12.6,24,14579,54
25,Arkansas Tech University,No,1734,1729,951,12,52,3602,939,3460,2650,450,1000,57,60,19.6,5,4739,48
26,Assumption College,Yes,2135,1700,491,23,59,1708,689,12000,5920,500,500,93,93,13.8,30,7100,88
27,Auburn University-Main Campus,No,7548,6791,3070,25,57,16262,1716,6300,3933,600,1908,85,91,16.7,18,6642,69
28,Augsburg College,Yes,662,513,257,12,30,2074,726,11902,4372,540,950,65,65,12.8,31,7836,58
29,Augustana College IL,Yes,1879,1658,497,36,69,1950,38,13353,4173,540,821,78,83,12.7,40,9220,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,Westfield State College,No,3100,2150,825,3,20,3234,941,5542,3788,500,1300,75,79,15.7,20,4222,65
748,Westminster College MO,Yes,662,553,184,20,43,665,37,10720,4050,600,1650,66,70,12.5,20,7925,62
749,Westminster College,Yes,996,866,377,29,58,1411,72,12065,3615,430,685,62,78,12.5,41,8596,80
750,Westminster College of Salt Lake City,Yes,917,720,213,21,60,979,743,8820,4050,600,2025,68,83,10.5,34,7170,50
751,Westmont College,No,950,713,351,42,72,1276,9,14320,5304,490,1410,77,77,14.9,17,8837,87
752,Wheaton College IL,Yes,1432,920,548,56,84,2200,56,11480,4200,530,1400,81,83,12.7,40,11916,85
753,Westminster College PA,Yes,1738,1373,417,21,55,1335,30,18460,5970,700,850,92,96,13.2,41,22704,71
754,Wheeling Jesuit College,Yes,903,755,213,15,49,971,305,10500,4545,600,600,66,71,14.1,27,7494,72
755,Whitman College,Yes,1861,998,359,45,77,1220,46,16670,4900,750,800,80,83,10.5,51,13198,72
756,Whittier College,Yes,1681,1069,344,35,63,1235,30,16249,5699,500,1998,84,92,13.6,29,11778,52
757,Whitworth College,Yes,1121,926,372,43,70,1270,160,12660,4500,678,2424,80,80,16.9,20,8328,80
758,Widener University,Yes,2139,1492,502,24,64,2186,2171,12350,5370,500,1350,88,86,12.6,19,9603,63
759,Wilkes University,Yes,1631,1431,434,15,36,1803,603,11150,5130,550,1260,78,92,13.3,24,8543,67
760,Willamette University,Yes,1658,1327,395,49,80,1595,159,14800,4620,400,790,91,94,13.3,37,10779,68
761,William Jewell College,Yes,663,547,315,32,67,1279,75,10060,2970,500,2600,74,80,11.2,19,7885,59
762,William Woods University,Yes,469,435,227,17,39,851,120,10535,4365,550,3700,39,66,12.9,16,7438,52
763,Williams College,Yes,4186,1245,526,81,96,1988,29,19629,5790,500,1200,94,99,9.0,64,22014,99
764,Wilson College,Yes,167,130,46,16,50,199,676,11428,5084,450,475,67,76,8.3,43,10291,67
765,Wingate College,Yes,1239,1017,383,10,34,1207,157,7820,3400,550,1550,69,81,13.9,8,7264,91
766,Winona State University,No,3325,2047,1301,20,45,5800,872,4200,2700,300,1200,53,60,20.2,18,5318,58
767,Winthrop University,No,2320,1805,769,24,61,3395,670,6400,3392,580,2150,71,80,12.8,26,6729,59
768,Wisconsin Lutheran College,Yes,152,128,75,17,41,282,22,9100,3700,500,1400,48,48,8.5,26,8960,50
769,Wittenberg University,Yes,1979,1739,575,42,68,1980,144,15948,4404,400,800,82,95,12.8,29,10414,78
770,Wofford College,Yes,1501,935,273,51,83,1059,34,12680,4150,605,1440,91,92,15.3,42,7875,75
771,Worcester Polytechnic Institute,Yes,2768,2314,682,49,86,2802,86,15884,5370,530,730,92,94,15.2,34,10774,82
772,Worcester State College,No,2197,1515,543,4,26,3089,2029,6797,3900,500,1200,60,60,21.0,14,4469,40
773,Xavier University,Yes,1959,1805,695,24,47,2849,1107,11520,4960,600,1250,73,75,13.3,31,9189,83
774,Xavier University of Louisiana,Yes,2097,1915,695,34,61,2793,166,6900,4200,617,781,67,75,14.4,20,8323,49
775,Yale University,Yes,10705,2453,1317,95,99,5217,83,19840,6510,630,2115,96,96,5.8,49,40386,99
776,York College of Pennsylvania,Yes,2989,1855,691,28,63,2988,1726,4990,3560,500,1250,75,75,18.1,28,4509,99

In [4]:
# Read in csv file that contains the city, state and zip codes of colleges
college_location= "Resources/2016 college-scorecard.csv"
college_location_df = pd.read_csv(college_location)
college_location_df.head()

C:\Users\Laura Schmidt\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (6,9,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1431,1432,1503,1504,1517,1518,1519,1529,1530,1531,1532,1534,1535,1537,1538,1539,1540,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1610,1611,1614,1615,1616,1708,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP6_FTNFT_POOLED_SUPP,OMAWDP8_FTNFT_POOLED_SUPP,OMENRYP8_FTNFT_POOLED_SUPP,OMENRAP8_FTNFT_POOLED_SUPP,OMENRUP8_FTNFT_POOLED_SUPP,OMAWDP6_PTNFT_POOLED_SUPP,OMAWDP8_PTNFT_POOLED_SUPP,OMENRYP8_PTNFT_POOLED_SUPP,OMENRAP8_PTNFT_POOLED_SUPP,OMENRUP8_PTNFT_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,0.4694,0.5136,0.0034,0.1429,0.3401,0.3333,0.3333,0,0,0.6667
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,0.6117,0.624,0.0075,0.2166,0.1519,0.3642,0.4,0.0434,0.2755,0.2811
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.5503,0.5562,0.0059,0.4379,0,0.4429,0.4714,0.0429,0.4857,0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.5456,0.5651,0.0123,0.2841,0.1385,0.3378,0.3547,0.0236,0.4257,0.1959
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.4105,0.429,0.0062,0.216,0.3488,0.2931,0.3103,0.0345,0.3966,0.2586

In [5]:
# Drop extra columns in  dataframe and keep only applications and graduation rate
new_college_data_df = college_data_df[['college_name', 'Apps', 'grad_rate']].copy()
new_college_data_df.head()

                   college_name  Apps  grad_rate
0  Abilene Christian University  1660         60
1            Adelphi University  2186         56
2                Adrian College  1428         54
3           Agnes Scott College   417         59
4     Alaska Pacific University   193         15

In [6]:
# Drop extra columns in dataframe that contains the locations of the colleges
new_college_location_df = college_location_df[['INSTNM', 'CITY', 'STABBR', 'ZIP']].copy()
new_college_location_df.head()

                                INSTNM        CITY STABBR         ZIP
0             Alabama A & M University      Normal     AL       35762
1  University of Alabama at Birmingham  Birmingham     AL  35294-0110
2                   Amridge University  Montgomery     AL  36117-3553
3  University of Alabama in Huntsville  Huntsville     AL       35899
4             Alabama State University  Montgomery     AL  36104-0271

In [7]:
# Rename columns in college location dataframe
new_college_location_df = new_college_location_df.rename(columns={"INSTNM":"college_name", "STABBR": "State"})
new_college_location_df

,college_name,CITY,State,ZIP
0,Alabama A & M University,Normal,AL,35762
1,University of Alabama at Birmingham,Birmingham,AL,35294-0110
2,Amridge University,Montgomery,AL,36117-3553
3,University of Alabama in Huntsville,Huntsville,AL,35899
4,Alabama State University,Montgomery,AL,36104-0271
5,The University of Alabama,Tuscaloosa,AL,35487-0166
6,Central Alabama Community College,Alexander City,AL,35010
7,Athens State University,Athens,AL,35611
8,Auburn University at Montgomery,Montgomery,AL,36117-3596
9,Auburn University,Auburn,AL,36849
10,Birmingham Southern College,Birmingham,AL,35254
11,Chattahoochee Valley Community College,Phenix City,AL,36869
12,Concordia College Alabama,Selma,AL,36701
13,South University-Montgomery,Montgomery,AL,36116
14,Enterprise State Community College,Enterprise,AL,36330-1300
15,Coastal Alabama Community College,Bay Minette,AL,36507-2698
16,Faulkner University,Montgomery,AL,36109-3390
17,Gadsden State Community College,Gadsden,AL,35903
18,New Beginning College of Cosmetology,Albertville,AL,35951
19,George C Wallace Community College-Dothan,Dothan,AL,36303-9234
20,George C Wallace State Community College-Hance...,Hanceville,AL,35077-2000
21,George C Wallace State Community College-Selma,Selma,AL,36703-2808
22,Herzing University-Birmingham,Birmingham,AL,35209
23,Huntingdon College,Montgomery,AL,36106-2148
24,Heritage Christian University,Florence,AL,35630-9977
25,J. F. Drake State Community and Technical College,Huntsville,AL,35811
26,J F Ingram State Technical College,Deatsville,AL,36022
27,Jacksonville State University,Jacksonville,AL,36265
28,Jefferson Davis Community College,Brewton,AL,36426
29,Jefferson State Community College,Birmingham,AL,35215-3098
...,...,...,...,...
7145,Strayer University-Katy,Houston,TX,77079
7146,Strayer University-Northwest Houston,Houston,TX,77064
7147,Strayer University-Plano,Plano,TX,75093
7148,Strayer University-Cedar Hill,Cedar Hill,TX,75104
7149,Strayer University-North Dallas,Dallas,TX,75251
7150,Strayer University-San Antonio,San Antonio,TX,78216
7151,Strayer University-Stafford,Stafford,TX,77477
7152,Unitek College,Fremont,CA,945383185
7153,Relay Graduate School of Education - Newark,Newark,NJ,7102
7154,Relay Graduate School of Education - New Orleans,New Orleans,LA,70112
7155,Relay Graduate School of Education - Delaware,Wilmington,DE,19801
7156,Relay Graduate School of Education - Memphis,Memphis,TN,38104
7157,Relay Graduate School of Education - Houston,Houston,TX,770744906
7158,Relay Graduate School of Education - Chicago,Chicago,IL,606324906
7159,Relay Graduate School of Education - Baton Rouge,Baton Rouge,LA,708114906
7160,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906
7161,Relay Graduate School of Education - Denver,Denver,CO,802112534
7162,Relay Graduate School of Education - Nashville,Nashville,TN,372075155
7163,WestMed College - Merced,Merced,CA,953400000
7164,Vantage College,El Paso,TX,799064951
7165,Vantage College,Austin,TX,787523733
7166,Salon Institute - Columbus Campus,Lewis Center,OH,430359153
7167,SAE Institute of Technology San Francisco,Emeryville,CA,94608
7168,Rasmussen College - Overland Park,Overland Park,KS,662102786
7169,National Personal Training Institute of Cleveland,Highland Heights,OH,44143
7170,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000
7171,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113
7172,High Desert Medical College,Lancaster,CA,935340000
7173,Vantage College-San Antonio,San Antonio,TX,782211361
7174,BCI - Malden,Malden,MA,21480000

In [8]:
# Drop rows with blanks from the college data dataframe
new_college_data_df.dropna()

                                college_name   Apps  grad_rate
0               Abilene Christian University   1660         60
1                         Adelphi University   2186         56
2                             Adrian College   1428         54
3                        Agnes Scott College    417         59
4                  Alaska Pacific University    193         15
5                          Albertson College    587         55
6                    Albertus Magnus College    353         63
7                             Albion College   1899         73
8                           Albright College   1038         80
9                  Alderson-Broaddus College    582         52
10                         Alfred University   1732         73
11                         Allegheny College   2652         76
12   Allentown Coll. of St. Francis de Sales   1179         74
13                              Alma College   1267         68
14                           Alverno College    494         55
15            American International College   1420         69
16                           Amherst College   4302        100
17                       Anderson University   1216         59
18                        Andrews University   1130         46
19                   Angelo State University   3540         34
20                        Antioch University    713         48
21              Appalachian State University   7313         70
22                           Aquinas College    619         65
23      Arizona State University Main campus  12809         48
24           Arkansas College (Lyon College)    708         54
25                  Arkansas Tech University   1734         48
26                        Assumption College   2135         88
27             Auburn University-Main Campus   7548         69
28                          Augsburg College    662         58
29                      Augustana College IL   1879         71
..                                       ...    ...        ...
747                  Westfield State College   3100         65
748                   Westminster College MO    662         62
749                      Westminster College    996         80
750    Westminster College of Salt Lake City    917         50
751                         Westmont College    950         87
752                       Wheaton College IL   1432         85
753                   Westminster College PA   1738         71
754                  Wheeling Jesuit College    903         72
755                          Whitman College   1861         72
756                         Whittier College   1681         52
757                        Whitworth College   1121         80
758                       Widener University   2139         63
759                        Wilkes University   1631         67
760                    Willamette University   1658         68
761                   William Jewell College    663         59
762                 William Woods University    469         52
763                         Williams College   4186         99
764                           Wilson College    167         67
765                          Wingate College   1239         91
766                  Winona State University   3325         58
767                      Winthrop University   2320         59
768               Wisconsin Lutheran College    152         50
769                    Wittenberg University   1979         78
770                          Wofford College   1501         75
771          Worcester Polytechnic Institute   2768         82
772                  Worcester State College   2197         40
773                        Xavier University   1959         83
774           Xavier University of Louisiana   2097         49
775                          Yale University  10705         99
776             York College of Pennsylvania   2989         99

[777 rows x 3 columns]

In [9]:
# Drop rows with blanks from college location dataframe
new_college_location_df.dropna()

,college_name,CITY,State,ZIP
0,Alabama A & M University,Normal,AL,35762
1,University of Alabama at Birmingham,Birmingham,AL,35294-0110
2,Amridge University,Montgomery,AL,36117-3553
3,University of Alabama in Huntsville,Huntsville,AL,35899
4,Alabama State University,Montgomery,AL,36104-0271
5,The University of Alabama,Tuscaloosa,AL,35487-0166
6,Central Alabama Community College,Alexander City,AL,35010
7,Athens State University,Athens,AL,35611
8,Auburn University at Montgomery,Montgomery,AL,36117-3596
9,Auburn University,Auburn,AL,36849
10,Birmingham Southern College,Birmingham,AL,35254
11,Chattahoochee Valley Community College,Phenix City,AL,36869
12,Concordia College Alabama,Selma,AL,36701
13,South University-Montgomery,Montgomery,AL,36116
14,Enterprise State Community College,Enterprise,AL,36330-1300
15,Coastal Alabama Community College,Bay Minette,AL,36507-2698
16,Faulkner University,Montgomery,AL,36109-3390
17,Gadsden State Community College,Gadsden,AL,35903
18,New Beginning College of Cosmetology,Albertville,AL,35951
19,George C Wallace Community College-Dothan,Dothan,AL,36303-9234
20,George C Wallace State Community College-Hance...,Hanceville,AL,35077-2000
21,George C Wallace State Community College-Selma,Selma,AL,36703-2808
22,Herzing University-Birmingham,Birmingham,AL,35209
23,Huntingdon College,Montgomery,AL,36106-2148
24,Heritage Christian University,Florence,AL,35630-9977
25,J. F. Drake State Community and Technical College,Huntsville,AL,35811
26,J F Ingram State Technical College,Deatsville,AL,36022
27,Jacksonville State University,Jacksonville,AL,36265
28,Jefferson Davis Community College,Brewton,AL,36426
29,Jefferson State Community College,Birmingham,AL,35215-3098
...,...,...,...,...
7145,Strayer University-Katy,Houston,TX,77079
7146,Strayer University-Northwest Houston,Houston,TX,77064
7147,Strayer University-Plano,Plano,TX,75093
7148,Strayer University-Cedar Hill,Cedar Hill,TX,75104
7149,Strayer University-North Dallas,Dallas,TX,75251
7150,Strayer University-San Antonio,San Antonio,TX,78216
7151,Strayer University-Stafford,Stafford,TX,77477
7152,Unitek College,Fremont,CA,945383185
7153,Relay Graduate School of Education - Newark,Newark,NJ,7102
7154,Relay Graduate School of Education - New Orleans,New Orleans,LA,70112
7155,Relay Graduate School of Education - Delaware,Wilmington,DE,19801
7156,Relay Graduate School of Education - Memphis,Memphis,TN,38104
7157,Relay Graduate School of Education - Houston,Houston,TX,770744906
7158,Relay Graduate School of Education - Chicago,Chicago,IL,606324906
7159,Relay Graduate School of Education - Baton Rouge,Baton Rouge,LA,708114906
7160,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906
7161,Relay Graduate School of Education - Denver,Denver,CO,802112534
7162,Relay Graduate School of Education - Nashville,Nashville,TN,372075155
7163,WestMed College - Merced,Merced,CA,953400000
7164,Vantage College,El Paso,TX,799064951
7165,Vantage College,Austin,TX,787523733
7166,Salon Institute - Columbus Campus,Lewis Center,OH,430359153
7167,SAE Institute of Technology San Francisco,Emeryville,CA,94608
7168,Rasmussen College - Overland Park,Overland Park,KS,662102786
7169,National Personal Training Institute of Cleveland,Highland Heights,OH,44143
7170,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000
7171,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113
7172,High Desert Medical College,Lancaster,CA,935340000
7173,Vantage College-San Antonio,San Antonio,TX,782211361
7174,BCI - Malden,Malden,MA,21480000

In [10]:
# Connect to SQL DB
connection_string = "root:Scooter1@localhost/etl_project"
engine = create_engine(f"mysql://{connection_string}")

In [11]:
# Confirm tables
engine.table_names()

['address', 'colleges', 'players']

In [12]:
# Write to SQL DB
new_college_data_df.to_sql(name='colleges', con=engine, if_exists='replace', index=False)

In [13]:
# Write to SQL DB
new_college_location_df.to_sql(name='address', con=engine, if_exists='replace', index=False)

In [14]:
#Confirm data is written to SQL DB
pd.read_sql_query('select * from colleges', con=engine).head()

                   college_name  Apps  grad_rate
0  Abilene Christian University  1660         60
1            Adelphi University  2186         56
2                Adrian College  1428         54
3           Agnes Scott College   417         59
4     Alaska Pacific University   193         15

In [15]:
#Confirm data is written to SQL DB
pd.read_sql_query('select * from address', con=engine).head()

                          college_name        CITY State         ZIP
0             Alabama A & M University      Normal    AL       35762
1  University of Alabama at Birmingham  Birmingham    AL  35294-0110
2                   Amridge University  Montgomery    AL  36117-3553
3  University of Alabama in Huntsville  Huntsville    AL       35899
4             Alabama State University  Montgomery    AL  36104-0271

In [18]:
# Merge two dataframes on institution name
merged_df = pd.merge(new_college_data_df,
                 new_college_location_df,
                 on='college_name', how="left")
merged_df

,college_name,Apps,grad_rate,CITY,State,ZIP
0,Abilene Christian University,1660,60,Abilene,TX,79699
1,Adelphi University,2186,56,Garden City,NY,11530-0701
2,Adrian College,1428,54,Adrian,MI,49221-2575
3,Agnes Scott College,417,59,Decatur,GA,30030-3770
4,Alaska Pacific University,193,15,Anchorage,AK,99508
5,Albertson College,587,55,NaN,NaN,NaN
6,Albertus Magnus College,353,63,New Haven,CT,06511-1189
7,Albion College,1899,73,Albion,MI,49224
8,Albright College,1038,80,Reading,PA,19612-5234
9,Alderson-Broaddus College,582,52,NaN,NaN,NaN
10,Alfred University,1732,73,Alfred,NY,14802-1205
11,Allegheny College,2652,76,Meadville,PA,16335-3902
12,Allentown Coll. of St. Francis de Sales,1179,74,NaN,NaN,NaN
13,Alma College,1267,68,Alma,MI,48801-1599
14,Alverno College,494,55,Milwaukee,WI,53234-3922
15,American International College,1420,69,Springfield,MA,1109
16,Amherst College,4302,100,Amherst,MA,01002-5000
17,Anderson University,1216,59,Anderson,IN,46012-3495
18,Anderson University,1216,59,Anderson,SC,29621-4035
19,Andrews University,1130,46,Berrien Springs,MI,49104
20,Angelo State University,3540,34,San Angelo,TX,76909
21,Antioch University,713,48,NaN,NaN,NaN
22,Appalachian State University,7313,70,Boone,NC,28608
23,Aquinas College,619,65,Grand Rapids,MI,49506-1801
24,Aquinas College,619,65,Nashville,TN,37205
25,Arizona State University Main campus,12809,48,NaN,NaN,NaN
26,Arkansas College (Lyon College),708,54,NaN,NaN,NaN
27,Arkansas Tech University,1734,48,Russellville,AR,72801-2222
28,Assumption College,2135,88,Worcester,MA,01609-1296
29,Auburn University-Main Campus,7548,69,NaN,NaN,NaN
...,...,...,...,...,...,...
765,Westminster College,996,80,Fulton,MO,65251-1299
766,Westminster College,996,80,New Wilmington,PA,16172
767,Westminster College,996,80,Salt Lake City,UT,84105
768,Westminster College of Salt Lake City,917,50,NaN,NaN,NaN
769,Westmont College,950,87,Santa Barbara,CA,93108-1089
770,Wheaton College IL,1432,85,NaN,NaN,NaN
771,Westminster College PA,1738,71,NaN,NaN,NaN
772,Wheeling Jesuit College,903,72,NaN,NaN,NaN
773,Whitman College,1861,72,Walla Walla,WA,99362
774,Whittier College,1681,52,Whittier,CA,90601
775,Whitworth College,1121,80,NaN,NaN,NaN
776,Widener University,2139,63,Chester,PA,19013-5792
777,Wilkes University,1631,67,Wilkes-Barre,PA,18766
778,Willamette University,1658,68,Salem,OR,97301
779,William Jewell College,663,59,Liberty,MO,64068-1896
780,William Woods University,469,52,Fulton,MO,65251-1098
781,Williams College,4186,99,Williamstown,MA,1267
782,Wilson College,167,67,Chambersburg,PA,17201-1285
783,Wingate College,1239,91,NaN,NaN,NaN
784,Winona State University,3325,58,Winona,MN,55987-5838
785,Winthrop University,2320,59,Rock Hill,SC,29733
786,Wisconsin Lutheran College,152,50,Milwaukee,WI,53226-4699
787,Wittenberg University,1979,78,Springfield,OH,45504
788,Wofford College,1501,75,Spartanburg,SC,29303-3663
789,Worcester Polytechnic Institute,2768,82,Worcester,MA,01609-2280
790,Worcester State College,2197,40,NaN,NaN,NaN
791,Xavier University,1959,83,Cincinnati,OH,45207-1092
792,Xavier University of Louisiana,2097,49,New Orleans,LA,70125-1098
793,Yale University,10705,99,New Haven,CT,6520
794,York College of Pennsylvania,2989,99,York,PA,17403-3651